<ion-header>
  <ion-toolbar color="primary">
    <ion-title>All Features App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- CAMERA -->
  <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
  <img *ngIf="image" [src]="image" />

  <!-- GPS -->
  <ion-button expand="block" (click)="getLocation()">Get Location</ion-button>
  <p *ngIf="location">📍 {{location}}</p>

  <!-- FILE SAVE -->
  <ion-button expand="block" (click)="saveFile()">Save File</ion-button>

  <!-- STORAGE -->
  <ion-button expand="block" (click)="saveData()">Save Data</ion-button>
  <ion-button expand="block" (click)="getData()">Get Data</ion-button>

  <!-- PUSH -->
  <ion-button expand="block" (click)="initPush()">Enable Notifications</ion-button>

</ion-content>